@model IEnumerable<Walks.UI.Models.DTO.RegionDto>
@{
}

<h1 class="mt-3">Regions</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Code</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var r in Model)
        {
            <tr>
                <td>@r.Id</td>
                <td>@r.Name</td>
                <td>@r.Code</td>
            </tr>
        }
    </tbody>
</table>